{% load static %}
<html>
<head>
<title>Detecting Web Attacks with End-to-End Deep Learning</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;
	
	if(x == null || x==""){
		window.alert("Test Data must be upload");
		document.f1.t1.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Detecting Web Attacks with End-to-End Deep Learning</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
      <li><a href="{% url 'Upload' %}"><font size="3" color="">Load Dataset</a></li>
	  <li><a href="{% url 'RunExisting' %}"><font size="3" color="">Run Existing</a></li>
	  <li><a href="{% url 'RunPropose' %}"><font size="3" color="">Run AutoEncoder</a></li>
	  <li><a href="{% url 'RunExtension' %}"><font size="3" color="">Extension LSTM</a></li>
	   <li><a href="{% url 'Graph' %}"><font size="3" color="">Graph</a></li>
	   <li><a href="{% url 'Predict' %}"><font size="3" color="">Predict Attacks</a></li>
	  <li><a href="{% url 'index' %}"><font size="3" color="">Logout</a></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'PredictAction' %}  enctype="multipart/form-data" OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Attack Prediction Screen</b></h3>
   
	<font size="" color="black"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="80" >
			 <tr><td><b>Input&nbsp;Test&nbsp;Data</b></td><td><input type="file" name="t1" style="font-family: Comic Sans MS" size="100"/></td></tr>
         
		  
		 
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				</div>	
					
				</div>
				
				
	</body>
</html>